<html>

<head>
<title>proceedings</title>
</head>

<body>

<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/tacas/AndreottiLB23">1</a>]
</td>
<td class="bibtexitem">
Bruno Andreotti, Hanna Lachnitt, and Haniel Barbosa.
 Carcara: An efficient proof checker and elaborator for SMT proofs
  in the alethe format.
 In Sriram Sankaranarayanan and Natasha Sharygina, editors, <em>Tools
  and Algorithms for the Construction and Analysis of Systems - 29th
  International Conference, TACAS 2023, Held as Part of the European Joint
  Conferences on Theory and Practice of Software, ETAPS 2022, Paris, France,
  April 22-27, 2023, Proceedings, Part I</em>, volume 13993 of <em>Lecture Notes
  in Computer Science</em>, pages 367--386. Springer, 2023.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/tacas/AndreottiLB23">bib</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-031-30823-9\_19">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-031-30823-9\_19">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/smt/LachnittFA0BNBT23">2</a>]
</td>
<td class="bibtexitem">
Hanna Lachnitt, Mathias Fleury, Leni Aniva, Andrew Reynolds, Haniel Barbosa,
  Andres N&ouml;tzli, Clark&nbsp;W. Barrett, and Cesare Tinelli.
 Automatic verification of SMT rewrites in isabelle/hol.
 In St&eacute;phane Graham-Lengrand and Mathias Preiner, editors,
  <em>Proceedings of the 21st International Workshop on Satisfiability Modulo
  Theories (SMT 2023) co-located with the 29th International Conference on
  Automated Deduction (CADE 2023), Rome, Italy, July, 5-6, 2023</em>, volume 3429
  of <em>CEUR Workshop Proceedings</em>, page&nbsp;78. CEUR-WS.org, 2023.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/smt/LachnittFA0BNBT23">bib</a>&nbsp;| 
<a href="https://ceur-ws.org/Vol-3429/abstract14.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/tacas/BarbosaBBKLMMMN22">3</a>]
</td>
<td class="bibtexitem">
Haniel Barbosa, Clark&nbsp;W. Barrett, Martin Brain, Gereon Kremer, Hanna Lachnitt,
  Makai Mann, Abdalrhman Mohamed, Mudathir Mohamed, Aina Niemetz, Andres
  N&ouml;tzli, Alex Ozdemir, Mathias Preiner, Andrew Reynolds, Ying Sheng,
  Cesare Tinelli, and Yoni Zohar.
 cvc5: A versatile and industrial-strength SMT solver.
 In Dana Fisman and Grigore Rosu, editors, <em>Tools and Algorithms
  for the Construction and Analysis of Systems - 28th International Conference,
  TACAS 2022, Held as Part of the European Joint Conferences on Theory and
  Practice of Software, ETAPS 2022, Munich, Germany, April 2-7, 2022,
  Proceedings, Part I</em>, volume 13243 of <em>Lecture Notes in Computer
  Science</em>, pages 415--442. Springer, 2022.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/tacas/BarbosaBBKLMMMN22">bib</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-030-99524-9\_24">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-030-99524-9\_24">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/cade/BarbosaRKLNNOPV22">4</a>]
</td>
<td class="bibtexitem">
Haniel Barbosa, Andrew Reynolds, Gereon Kremer, Hanna Lachnitt, Aina Niemetz,
  Andres N&ouml;tzli, Alex Ozdemir, Mathias Preiner, Arjun Viswanathan, Scott
  Viteri, Yoni Zohar, Cesare Tinelli, and Clark&nbsp;W. Barrett.
 Flexible proof production in an industrial-strength SMT solver.
 In Jasmin Blanchette, Laura Kov&aacute;cs, and Dirk Pattinson,
  editors, <em>Automated Reasoning - 11th International Joint Conference,
  IJCAR 2022, Haifa, Israel, August 8-10, 2022, Proceedings</em>, volume 13385 of
  <em>Lecture Notes in Computer Science</em>, pages 15--35. Springer, 2022.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/cade/BarbosaRKLNNOPV22">bib</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-031-10769-6\_3">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-031-10769-6\_3">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/isca/MosierLNT22">5</a>]
</td>
<td class="bibtexitem">
Nicholas Mosier, Hanna Lachnitt, Hamed Nemati, and Caroline Trippel.
 Axiomatic hardware-software contracts for security.
 In Valentina Salapura, Mohamed Zahran, Fred Chong, and Lingjia Tang,
  editors, <em>ISCA '22: The 49th Annual International Symposium on Computer
  Architecture, New York, New York, USA, June 18 - 22, 2022</em>, pages 72--86.
  ACM, 2022.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/isca/MosierLNT22">bib</a>&nbsp;| 
<a href="https://doi.org/10.1145/3470496.3527412">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1145/3470496.3527412">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:journals/corr/abs-2112-10511">6</a>]
</td>
<td class="bibtexitem">
Nicholas Mosier, Hanna Lachnitt, Hamed Nemati, and Caroline Trippel.
 Relational models of microarchitectures for formal security analyses.
 <em>CoRR</em>, abs/2112.10511, 2021.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:journals/corr/abs-2112-10511">bib</a>&nbsp;| 
<a href="http://arxiv.org/abs/2112.10511">arXiv</a>&nbsp;| 
<a href="https://arxiv.org/abs/2112.10511">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:journals/jar/BordgLH21">7</a>]
</td>
<td class="bibtexitem">
Anthony Bordg, Hanna Lachnitt, and Yijun He.
 Certified quantum computation in isabelle/hol.
 <em>J. Autom. Reason.</em>, 65(5):691--709, 2021.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:journals/jar/BordgLH21">bib</a>&nbsp;| 
<a href="https://doi.org/10.1007/S10817-020-09584-7">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1007/s10817-020-09584-7">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:conf/mkm/KovacsLS20">8</a>]
</td>
<td class="bibtexitem">
Laura Kov&aacute;cs, Hanna Lachnitt, and Stefan Szeider.
 Formalizing graph trail properties in isabelle/hol.
 In Christoph Benzm&uuml;ller and Bruce&nbsp;R. Miller, editors, <em>
  Intelligent Computer Mathematics - 13th International Conference, CICM
  2020, Bertinoro, Italy, July 26-31, 2020, Proceedings</em>, volume 12236 of <em>
  Lecture Notes in Computer Science</em>, pages 190--205. Springer, 2020.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:conf/mkm/KovacsLS20">bib</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-030-53518-6\_12">DOI</a>&nbsp;| 
<a href="https://doi.org/10.1007/978-3-030-53518-6\_12">https</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DBLP:journals/afp/BordgLH20">9</a>]
</td>
<td class="bibtexitem">
Anthony Bordg, Hanna Lachnitt, and Yijun He.
 Isabelle marries dirac: a library for quantum computation and quantum
  information.
 <em>Arch. Formal Proofs</em>, 2020, 2020.
[&nbsp;<a href="/home/lachnitt/Sources/lachnitt.github.io/_publications/test.html_bib.html#DBLP:journals/afp/BordgLH20">bib</a>&nbsp;| 
<a href="https://www.isa-afp.org/entries/Isabelle\_Marries\_Dirac.html">.html</a>&nbsp;]

</td>
</tr>
</table></body>
</html>
